<div class="registration-form">
  <h4 class="text-center">Update Customer Details</h4>

  <!-- Close icon -->
  <button mat-icon-button class="close-icon" (click)="closeDialog()">
    <mat-icon aria-label="Close icon">close</mat-icon>
  </button>
  
  <!-- popup message for update -->
  <div class="popup-message" #popupMessage>Data updated successfully!</div>

  <form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group small-margin">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" [ngClass]="{'error-border': isInvalid('firstName')}" (input)="updateCustomerForm.get('firstName')?.markAsTouched()">
          <mat-error *ngIf="isInvalid('firstName')">{{ getFirstNameErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" [ngClass]="{'error-border': isInvalid('firstName')}" (input)="updateCustomerForm.get('lastName')?.markAsTouched()">
          <mat-error *ngIf="isInvalid('lastName')">{{ getLastNameErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group small-margin">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [ngClass]="{'error-border': isInvalid('dateOfBirth')}" [max]="maxDate" [matDatepickerFilter]="filterFutureDates" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-error *ngIf="isInvalid('dateOfBirth')">{{ getDateOfBirthErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Mobile No</mat-label>
          <input matInput type="tel" formControlName="mobileNo" [ngClass]="{'error-border': isInvalid('mobileNo')}" (input)="updateCustomerForm.get('mobileNo')?.markAsTouched()">
          <mat-error *ngIf="updateCustomerForm.get('mobileNo')?.hasError('mobileExists')">Mobile Number already registered.</mat-error>
          <mat-error *ngIf="isInvalid('mobileNo')">{{ getMobileNoErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group small-margin">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="addressLineOne" [ngClass]="{'error-border': isInvalid('addressLineOne')}" (input)="updateCustomerForm.get('addressLineOne')?.markAsTouched()">
          <mat-error *ngIf="isInvalid('addressLineOne')">{{ getAddressOneErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="addressLineTwo" [ngClass]="{'error-border': isInvalid('addressLineTwo')}" (input)="updateCustomerForm.get('addressLineTwo')?.markAsTouched()">
          <mat-error *ngIf="isInvalid('addressLineTwo')">{{ getAddressTwoErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group small-margin">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput type="text" formControlName="age" [ngClass]="{'error-border': isInvalid('age')}" (input)="updateCustomerForm.get('age')?.markAsTouched()">
          <mat-error *ngIf="isInvalid('age')">{{ getAgeErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group gender-group">
        <label>Gender*</label>
        <mat-radio-group formControlName="gender" class="radio-margin">
          <mat-radio-button [value]="0" [checked]="updateCustomerForm.get('gender')?.value === '0'">Male</mat-radio-button>
          <mat-radio-button [value]="1" [checked]="updateCustomerForm.get('gender')?.value === '1'">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group small-margin">
        <mat-form-field appearance="fill" class="example-full-width-email">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" [ngClass]="{'error-border': isInvalid('email')}" (input)="updateCustomerForm.get('email')?.markAsTouched()">
          <mat-error *ngIf="updateCustomerForm.get('email')?.hasError('emailExists')">Email already registered.</mat-error>
          <mat-error *ngIf="isInvalid('email')">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="text-center mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="updateCustomerForm.invalid">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="closeDialog()">Cancel</button>
    </div>

  </form>
</div>

<!-- Loader to show on submit -->
<div class="loader-overlay" *ngIf="showLoader"></div>
<div class="loader-container" *ngIf="showLoader">
  <mat-spinner diameter="32" color="primary"></mat-spinner>
</div>